.postFormCard {
  padding: 20px;
  border-bottom: 1px solid var(--twitter-background);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.postFormCard__input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.postFormCard__inputField {
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  background-color: #f5f8fa;
}

.postFormCard__button {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  padding: 10px 20px !important;
}

.app.dark .postFormCard {
  background-color: var(--dark-background-secondary);
  border-bottom: 1px solid var(--dark-border);
}

.app.dark .postFormCard__inputField {
  background-color: var(--dark-background-secondary);
  color: var(--dark-text);
}